.body{
  padding: 10px;
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: "header header header" "input-field input-field input-field" "buttons buttons buttons" "infodiv infodiv infodiv";
  grid-gap: 1em;
}
.header{
  grid-area: header;
  grid-column: 2/4;
}
.input-field{
  grid-area: input-field;
  grid-column: 2/4;
}
.buttons{
  grid-area: buttons;
  grid-column: 1/4;
  margin-left: auto;
  margin-right: auto;
}
.infodiv{
  grid-area: infodiv;
  grid-column: 1/4
}
.weather-info{

  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}
.weather-info-table{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.bold-text{
  font-weight: bold;
}
.center-text{
  text-align: center;
}
.center-item{
  margin-left: auto;
  margin-right: auto;
}
.error-message{
  color: red;
}
input{
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  width: 11vw;
}
button {
  background: #0c20d4;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}
  
button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}
